<navigation></navigation>

<div class="container">


<div class="panel panel-danger" ng-repeat="product in vm.cart.products">

     
     <div class="panel-heading">
        <h3 class="panel-title pull-left">{{product.name}} -- ${{product.price}}</h3>
          <button class="pull-right close" ng-click="deleteQuote($index)">x</button>
          <div class="clearfix"></div>
        </div>


        <div class="panel-body"><img class="thumbnail" alt="" ng-src="{{product.imgUrl}}" />
        </div>
      </div>

</div>


</div>