<navigation></navigation>

<div class="container">
  <div class="page-header">
    <h1>Welcome to Selena's MEAN Stack Store</h1>
  </div>
</div>
<section class="categories section--padding-bottom">
    <div class="container container--medium">
        <div class="category bg-green-light">
            <h2 class="category__title section__title section__title--alt">SHOP</h2>
            <p class="category__description">Super awesome items that will change your entire style</p>

            <!-- Here is the Shop Button  -->
            <a class="btn" ui-sref="products">Shop</a>

            <a class="category__background" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/ecommerce-portfolio.appspot.com/o/pexels-photo-125437.jpg?alt=media&token=a752af03-c708-47b8-81ab-8176e86106f5');"></a>
        </div>
    </div>
</section>